<h3><i class="fas fa-align-left"></i>  <%= @post.username %>님의 게시글입니다.</h3><br/>
<div class="card">
  <h4 class="card-header"><%= @post.title %></h4>
  <div class="card-body">
    <h4 class="card-title"><%= @post.content %></h4>
    <p class="card-text"><%= @post.created_at %></p>
    <a href="/" class="btn btn-primary">HOME</a>
  </div>
</div><br />

<ul class="list-group">
  <% @post.comments.each do |comment| %>
    <li class="list-group-item"><%= comment.comment %>  <a href="/post/edit_comment/<%= comment.id %>"><i class="fas fa-pencil-alt"></i></a>  <a href="/post/delete_comment/<%= comment.id %>"><i class="fas fa-cut"data-fa-transform="rotate-90"></i></a></li>
  <% end %>
</ul>
<br />
<form action="/post/add_comment">
  <div class="input-group">
    <input type="text" name="comment" class="form-control" placeholder="댓글을 입력하세요." aria-label="Search for..."/>
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="submit">작성</button>
      </span>
      <input type="hidden" name="id" value="<%= @post.id %>"/>
  </div>
</form>
