<h1><%= @post.id %> .  <%= @post.username %> 님의 작성글  </h1>
<h2>제목:   <%= @post.title %></h2>
<h3><%= @post.created_at %></h3><hr />
<p>
  <%= @post.content %><br />
  <a class="btn btn-primary" href="/" role="button">HOME</a>

</p>
